<body>

  <h3>Schedule:</h3>
  
  <table>
    <tr>
      <th>Date</th>
      <th>Details</th>
      <th>Deadline</th>
    </tr>
    <tr>
      <td>Wed Aug 29, 2018</td>
      <td>Assignment 01 - Student Agreement</td>
      <td>due by 9am</td>
    </tr>
    <tr>
      <td>Wed Aug 29, 2018</td>
      <td>Assignment 01 - Student Agreement</td>
      <td>due by 9am</td>
    </tr>
    <tr>
      <td>Wed Aug 29, 2018</td>
      <td>Assignment 01 - Student Agreement</td>
      <td>due by 9am</td>
    </tr>
    <tr>
      <td>Wed Aug 29, 2018</td>
      <td>Assignment 01 - Student Agreement</td>
      <td>due by 9am</td>
    </tr>
    <tr>
      <td>Wed Aug 29, 2018</td>
      <td>Assignment 01 - Student Agreement</td>
      <td>due by 9am</td>
    </tr>
    <tr>
      <td>Wed Aug 29, 2018</td>
      <td>Assignment 01 - Student Agreement</td>
      <td>due by 9am</td>
    </tr>
    <tr>
      <td>Wed Aug 29, 2018</td>
      <td>Assignment 01 - Student Agreement</td>
      <td>due by 9am</td>
    </tr>
    <tr>
      <td>Wed Aug 29, 2018</td>
      <td>Assignment 01 - Student Agreement</td>
      <td>due by 9am</td>
    </tr>
    <tr>
      <td>Wed Aug 29, 2018</td>
      <td>Assignment 01 - Student Agreement</td>
      <td>due by 9am</td>
    </tr>
    <tr>
      <td>Wed Aug 29, 2018</td>
      <td>Assignment 01 - Student Agreement</td>
      <td>due by 9am</td>
    </tr>
    <tr>
      <td>Wed Aug 29, 2018</td>
      <td>Assignment 01 - Student Agreement</td>
      <td>due by 9am</td>
    </tr>
    <tr>
      <td>Wed Aug 29, 2018</td>
      <td>Assignment 01 - Student Agreement</td>
      <td>due by 9am</td>
    </tr>
    <tr>
      <td>Wed Aug 29, 2018</td>
      <td>Assignment 01 - Student Agreement</td>
      <td>due by 9am</td>
    </tr>
  </table>
  
  </body>
  <router-outlet></router-outlet>
