<div class="modalcontainer">
  <div class="top">
  <hr class="hr">
  <b>GRAD DIRECT PROJECT II 02FA18</b>
  <hr class="hr">
  </div>
      <div class="well well-sm" >
          <img src = "https://www.nwmissouri.edu/admissions/images/header/specific/laptop.jpg" alt ="image" class = "image-responsive" width="1070" height="300">  
        </div>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
           
              
              <!-- <div class="navbar-header"> -->
                <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button> -->
              <!-- </div> -->
          
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a  routerLink="/home" routerLinkActive="mat-stroked-button"><b><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;<u>About</u></b></a></li>
                <li><a  routerLink="/module" routerLinkActive="mat-stroked-button" ><b><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp;<u> Modules</u></b></a></li>
                <li><a  routerLink="/calender" routerLinkActive="mat-stroked-button" ><b><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp; <u>Calendar</u></b></a></li>
                <li><a  routerLink="/syllabus" routerLinkActive="mat-stroked-button"><b><i class="fa fa-book" aria-hidden="true"></i>&nbsp;<u>Syllabus</u></b></a></li>
                <li><a  routerLink="/announcement" routerLinkActive="mat-stroked-button"><b><i class="fa fa-file-audio-o" aria-hidden="true"></i>&nbsp;<u>Anouncements</u></b><span class="badge">3</span></a></li>
              </ul>
               </div> 
                
              </div>
           </nav>
          
           <div class="col-sm-10">
            <router-outlet></router-outlet>
          </div>
    
    <div class="col-sm-1"></div>
  </div>





  



  
  <!-- <div [@routeAnimation]="getAnimationData(routerOutlet)">
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </div>
  <router-outlet name="popup"></router-outlet> -->

