/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  
  .navbar .nav li a{
    
    background-color:rgb(9, 44, 23);
    color:white;
    text-align: center;
    flex:1;
  }
  .navbar .nav li{
    flex:1;
    height: 40px;
    font-size: 17px;
  }
  .navbar nav ul{
    list-style-type: none;
    flex:1;
    
  }
  .navbar{
    width:auto;
    background-color:rgb(9, 44, 23);
  }
  .navbar .nav{
    width:100%;
    background-color:rgb(9, 44, 23);
    color:white;
    margin-bottom: 10px;
    text-align: center;
    /* padding: 0; */
    display:flex;
    flex-direction: row;
  }
}
.well  {
background-color: rgb(9, 44, 23);
color:white;

}
.modalcontainer{
  width: 80%;
  margin:auto;
}
.top{
      font-size: 1.8em;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  color: #666;
}
.hr {
  border-top: 1px solid grey;
}

