<div class="container">
  <hr class="hr">
  <div class="row">
    <div class="col-sm-1">
        <i class="fa fa-user-circle-o fa-5x" ></i>
        </div>
        
          <div class="col-sm-11"> 
              <p class="heading">Final presentations and final report submission dates</p>
              <div class="row">
                  <div class="col-sm-9">
                    <div class="text1">
                      <p class="text-left">All Sections</p>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="text2">
                      <p class="text-right">Posted on:</p>
                    </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-9">
                      <p class="text-left">Important information. Last day for submitting the final report</p>
                  </div>
                  <div class="col-sm-3">
                    <div class="text3">
                      <p class="text-right">Nov 14, 2018 at 8:24am</p>
                    </div>
                  </div>
                </div>
                </div>
                </div>
        <hr class="hr">
        <div class="row">
            <div class="col-sm-1">
                <i class="fa fa-user-circle-o fa-5x" ></i>
                </div>
                
                  <div class="col-sm-11"> 
                      <p class="heading">Happy Diwali</p>
                      <div class="row">
                          <div class="col-sm-9">
                            <div class="text1">
                              <p class="text-left">All Sections</p>
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="text2">
                              <p class="text-right">Posted on:</p>
                            </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-9">
                              <p class="text-left">Happy Diwali</p>
                          </div>
                          <div class="col-sm-3">
                            <div class="text3">
                              <p class="text-right">Nov 14, 2018 at 8:24am</p>
                            </div>
                          </div>
                        </div>
                        </div>
                        </div>
                <hr class="hr">
                <div class="row">
                    <div class="col-sm-1">
                        <i class="fa fa-user-circle-o fa-5x" ></i>
                        </div>
                        
                          <div class="col-sm-11"> 
                              <p class="heading">Requirement Document</p>
                              <div class="row">
                                  <div class="col-sm-9">
                                    <div class="text1">
                                      <p class="text-left">1 Section</p>
                                    </div>
                                  </div>
                                  <div class="col-sm-3">
                                    <div class="text2">
                                      <p class="text-right">Posted on:</p>
                                    </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-9">
                                      <p class="text-left">Hello All, Please bring your requirement documents</p>
                                  </div>
                                  <div class="col-sm-3">
                                    <div class="text3">
                                      <p class="text-right">Nov 14, 2018 at 8:24am</p>
                                    </div>
                                  </div>
                                </div>
                                </div>
                                </div>
                        <hr class="hr">
</div>
