.container{
    margin: 10px;
    padding:10px;
    max-width:1050px;
    border: 2px solid;
    border-radius: 5px;
    padding: 16px;
}
.hr{
    border-top: 1px solid black;
}
.heading{
    font-weight: bold;
}
.text1{
    color:blue;
}
.text2{
    font-weight: bold;
}
.text3{
    color:grey;
}
