<div class="container">
  <div class="row">
 <b style="font-size:150%;">Course Syllabus:</b>

</div>
<div class="row">
  <div class="col-sm-12">
    <!--<ul>
      <li>--><span class="instructure_file_holder link_holder"><a class="instructure_file_link" title="Pimpl.pptx"
         href="assets/files/44-692-02 Graduate Directed Project II Fellah F18.pdf" download
         data-api-endpoint="assets/files/44-692-02 Graduate Directed Project II Fellah F18.pdf" 
         data-api-returntype="File">
        <span class="instructure_file_holder link_holder">
          <span class = "instructure_scribd_file_holder link_holder" style="font-size: 1.3em;">
            Blended Course Fall18.pdf </span> 
          </span>
          </a>
        <a class="file_preview_link" aria-hidden="true"
         
        title="Preview the document" (click)="onSelect='icon'" style="padding-left: 5px; display:inline"><img src="assets/images/eye.png" alt="Preview the document"></a></span>
       <div *ngIf="onSelect === 'icon'" >
         
          <a href="/syllabus" style="font-size: 0.8em;" class="hide_file_preview_link">Minimize File Preview</a>
          <div id = "min_file">

        <iframe   src="assets/files/44-692-02 Graduate Directed Project II Fellah F18.pdf"  style="width:100%; border: 0px; overflow: auto; height: 99%; min-height: 800px;"></iframe>
      </div>
    </div>
      <!--</li>
      
     </ul>--> 
    
      
    
  </div>
  
</div>
<div class="row">
    
  <b style="font-size:150%;">Instructor: </b> <span style="font-size: 1.3em;">Aziz Fellah </span><br>
  <b style="font-size:150%;">Email: </b> <span style="font-size: 1.3em;">afellah@nwmissouri.edu</span><br>
  <b style="font-size:150%;"> Office: </b> <span style="font-size: 1.3em;">CH2290</span><br>
  <b style="font-size:150%;"> Office Hours: </b> <br>
  <ul><li><span style="font-size: 1.3em;">Monday: 10:00 AM - 12:00 PM</span></li><br>
  <li><span style="font-size: 1.3em;">Wednesday: 10:00 AM - 12:00 PM</span></li><br>
  <li><span style="font-size: 1.3em;">Friday: 10:00 AM - 12:00 PM</span></li></ul><br>
 
</div>
</div>

