#min_file{
    overflow: auto; 
    resize: vertical;
    border: 1px solid transparent; 
    height: 100%;
}
.container{
    margin: auto;
    padding:10px;
    max-width:800px;
    border: 2px solid;
    border-radius: 5px;
    padding: 16px;
}


