.borderParent{
    border: 1px solid;
}
.orderchild{
    border: 1px solid;
}
.box{
    display: none;
    width: 100%;
}

a:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 100;
}
@media (min-width: 768px) {
.navbar .nav li button{
    
    background-color:lightgrey;
    color:black;
    text-align: center;
    flex:1;
    width: 90%;
    
    
  }
  .navbar .nav li button:hover{
      background-color: darkgreen;
      color:white;
      
      
  }
  ul.navbar{
      margin:0px;
      width:100%;
  }
  .navbar .nav li{
    flex:1;
    
  }
  .navbar ,nav ul{
    list-style-type: none;
    flex:1;
    
  }
  .navbar{
    width:100%;
    background-color: white;
    display: inline-block;
    
    position: relative;
  }
  .navbar .nav{
    width:100%;
    
    color:white;
    margin-bottom: 10px;
    text-align: center;
   
    display:flex;
    flex-direction: row;
  }
  
}
.bord{
    border: 1px solid;
    margin:10px;
    border-left: 4px solid darkgreen;
}
