<nav class="navbar navbar-default ">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
              
          <li><button mat-button type="button" name="button" (click)="showM1()" routerLinkActive="mat-stroked-button"><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp; Module 1</button></li>          
          <li><button mat-button type="button" name="button" (click)="showM2()" routerLinkActive="mat-stroked-button"><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp; Module 2</button></li>
          <li><button mat-button type="button" name="button" (click)="showM3()" routerLinkActive="mat-stroked-button"><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp; Module 3</button></li>
          <li><button mat-button type="button" name="button" (click)="showM4()" routerLinkActive="mat-stroked-button"><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp; Module 4</button></li>
          <li><button mat-button type="button" name="button" (click)="showM5()" routerLinkActive="mat-stroked-button"><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp; Module 5</button></li>
          <li><button mat-button type="button" name="button" (click)="showM6()" routerLinkActive="mat-stroked-button"><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp; Module 6</button></li>
          <li><button mat-button type="button" name="button" (click)="showM7()" routerLinkActive="mat-stroked-button"><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp; Module 7</button></li>
      </ul>
    </div>
  </nav>
 
  <div *ngIf="show1" class="borderParent">
          <div class="border border-secondary">
                  <div class="row">
                      <div class="col-sm-9">
                          <p class="text-left"><b>Module 01: </b></p>
                      </div>
                      <div class="col-sm-3">
                          <p class="text-right"><b>Pre-requisites: Start here</b></p>
                      </div>
               </div>
               
               <mat-divider></mat-divider>
               <div class="bord">
                   
               <mat-list>
                  <mat-list-item><u><b>Module 01 Tutorial</b></u></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><u><b>Chapter 1.1</b></u></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><u><b>Chapter 1.2</b></u></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><u><b>Assignment 01</b></u></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><u><b>Worksheet 01</b></u></mat-list-item>
                  <mat-divider></mat-divider>
                
                  <mat-list-item>  <span class="instructure_file_holder link_holder"><a class="instructure_file_link" title="Pimpl.pptx"
                    href="assets/files/Workshop2_GDP_STD.pdf" download 
                    data-api-endpoint="assets/files/Workshop2_GDP_STD.pdf" 
                    data-api-returntype="File">
                   <span class="instructure_file_holder link_holder">
                         <span class = "instructure_scribd_file_holder link_holder" style="font-size: 1.1em;">
                       Workshop-1.pdf </span> 
                     </span>
                     </a>
                    <a class="file_preview_link" aria-hidden="true" title="Preview the document" (click)="onSelect='icon'" style="padding-left: 5px; display:inline"><img src="assets/images/eye.png" alt="Preview the document"></a></span></mat-list-item>
                  <div *ngIf="onSelect === 'icon'" >
                    
                     <a href="/module" style="font-size: 0.8em;" class="hide_file_preview_link">Minimize File Preview</a>
                     <div id = "min_file">
           
                   <iframe   src="assets/files/Workshop2_GDP_STD.pdf"  style="width:100%; border: 0px; overflow: auto; height: 99%; min-height: 800px;"></iframe>
                 </div>
               </div>
            </mat-list>
              </div>
              </div>
  </div>
  <div *ngIf="show2" class=" borderParent">
      
      <div class="border border-secondary">
          <div class="row">
              <div class="col-sm-9">
                  <p class="text-left"><b>Module 02: Angular Video Tutorial </b></p>
              </div>
              <div class="col-sm-3">
                  <p class="text-right"><b>Pre-requisites: Start here</b></p>
              </div>
              
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<iframe width="200" height="115" src="https://www.youtube.com/embed/CusfUmB6mkY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

       </div>
       <mat-divider></mat-divider>
       <div class="bord">
       <mat-list>
          <mat-list-item><u><b>Module 02 Tutorial</b></u></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><u><b>Chapter 2.1</b></u></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><u><b>Chapter 2.2</b></u></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><u><b>Assignment 02</b></u></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><u><b>Quiz 01</b></u></mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </div>
      </div>
  </div>
  <div *ngIf="show3" class="borderParent ">
          <div class="border border-secondary">
                  <div class="row">
                      <div class="col-sm-9">
                          <p class="text-left"><b>Module 03:</b></p>
                      </div>
                      <div class="col-sm-3">
                          <p class="text-right"><b>Pre-requisites: Start here</b></p>
                      </div>
               </div>
               <mat-divider></mat-divider>
               <div class="bord">
               <mat-list>
                  <mat-list-item><u><b>Module 03 Tutorial</b></u></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><u><b>Chapter 3.1</b></u></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><u><b>Chapter 3.2</b></u></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><u><b>Assignment 03</b></u></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><u><b>Worksheet 01</b></u></mat-list-item>
                </mat-list>
              </div>
              </div>
  </div>
  <div *ngIf="show4" class="borderParent ">
          <div class="border border-secondary">
                  <div class="row">
                      <div class="col-sm-9">
                          <p class="text-left"><b>Module 04:</b></p>
                      </div>
                      <div class="col-sm-3">
                          <p class="text-right"><b>Pre-requisites: Start here</b></p>
                      </div>
               </div>
               <mat-divider></mat-divider>
               <div class="bord">
               <mat-list>
                  <mat-list-item><u><b>Module 04 Tutorial</b></u></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><u><b>Chapter 4.1</b></u></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><u><b>Chapter 4.2</b></u></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><u><b>Assignment 04</b></u></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><u><b>Exam 01</b></u></mat-list-item>
                </mat-list>
              </div>
              </div>
  </div>
  <div *ngIf="show5" class=" borderParent">
          <div class="border border-secondary">
                  <div class="row">
                      <div class="col-sm-9">
                          <p class="text-left"><b>Module 05:</b></p>
                      </div>
                      <div class="col-sm-3">
                          <p class="text-right"><b>Pre-requisites: Start here</b></p>
                      </div>
               </div>
               <mat-divider></mat-divider>
               <div class="bord">
               <mat-list>
                  <mat-list-item><u><b>Module 05 Tutorial</b></u></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><u><b>Chapter 5.1</b></u></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><u><b>Chapter 5.2</b></u></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><u><b>Assignment 05</b></u></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><u><b>Quiz 02</b></u></mat-list-item>
                </mat-list>
              </div>
              </div>
  </div>
  <div *ngIf="show6" class=" borderParent">
          <div class="border border-secondary">
                  <div class="row">
                      <div class="col-sm-9">
                          <p class="text-left"><b>Module 06:</b></p>
                      </div>
                      <div class="col-sm-3">
                          <p class="text-right"><b>Pre-requisites: Start here</b></p>
                      </div>
               </div>
               <mat-divider></mat-divider>
               <div class="bord">
               <mat-list>
                  <mat-list-item><u><b>Module 06 Tutorial</b></u></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><u><b>Chapter 6.1</b></u></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><u><b>Chapter 6.2</b></u></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><u><b>Assignment 06</b></u></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><u><b>Worksheet 03</b></u></mat-list-item>
                </mat-list>
              </div>
              </div>
  </div>
  <div *ngIf="show7" class="borderParent ">
          <div class="border border-secondary">
                  <div class="row">
                      <div class="col-sm-9">
                          <p class="text-left"><b>Module 07:</b></p>
                      </div>
                      <div class="col-sm-3">
                          <p class="text-right"><b>Pre-requisites: Start here</b></p>
                      </div>
               </div>
               <mat-divider></mat-divider>
               <div class="bord">
               <mat-list>
                  <mat-list-item><u><b>Module 07 Tutorial</b></u></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><u><b>Chapter 7.1</b></u></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><u><b>Chapter 7.2</b></u></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><u><b>Assignment 07</b></u></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><u><b>Exam 03</b></u></mat-list-item>
                </mat-list>
              </div>
              </div>
  </div>
  <router-outlet></router-outlet>
  