.bord{
    border: 1px solid black;
    /* text-align: center; */
    width: 800px;
  display: block;
  /* background-color: #eee; */
  margin-left: auto;
  margin-right: auto;
    
}
h2{
    text-align: center;
}
table {
   
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
}

td{
    border: 1px solid black;
    text-align: center;
    padding: 6px;
    font-size: 18px;
}
.container{
    margin: 10px;
    padding:10px;
    max-width:1000px;
    border: 2px solid;
    border-radius: 5px;
    padding: 16px;
}

