
<div class="container">
<div class = "bord">
<h2>
    <b> <u>Important Information</u></b>
</h2>
<br>
<h4>
  <p>
    <b>Last day for submitting the final report (HARD COPY & Online submission):
       11/30/2018</b>
      </p>
  <br>    
<p>
 <b>Final Exam: December 13th, 2018 (09:40 AM to 11:40 AM)</b>Final reflection report 
  (Both hard copy and online submission) to be submitted during this time and
   submissions are not accepted other than the specified final exam time.
  </p>
  <br>

<p>
<b>Final Presentation dates: </b> December 03rd, 2018 and December 05rd, 2018.</p>
</h4>
</div>
<br>
<div>
<ul>
  <li>
  <h4>Go to  <a routerLink="/syllabus"><b><u>Syllabus</u></b></a></h4>
</li>
<li>
  <h4>
  <b>Instructor:</b> Aziz Fellah
</h4> 
</li>


<li>
  <h4>
  <b>Office Hours:</b> By appointment or
</h4>

  </li>
  </ul>
  <table>
      <tr>
        <td>Monday</td>
        <td>10:00 AM - 12:00 PM</td>
        
      </tr>
      <tr>
          <td>Wednersday</td>
          <td>10:00 AM - 12:00 PM</td>
      </tr>
      <tr>
          <td>Friday</td>
          <td>10:00 AM - 12:00 PM<br>
            3:00 PM - 5:00 PM

          </td>
      </tr>
      </table>
     <ul>
       <li>
         <h4>
         <b>Email: </b><a routerLink="afellah@nwmissouri.edu"><b><u>afellah@nwmissouri.edu</u></b></a>
        </h4>
       </li>
     
     
        <li>
          <h4>
          <b>Office: </b> Colden Hall:2290
         </h4>
        </li>
        <li>
            <h4>
            <b>Tel: </b> (660) 562-0803
           </h4>
          </li>
      </ul>
    </div>
</div>    

